<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/view.css">
    </head>
    <body>
        <header>
            <p>headertxt</p>
        </header>
        <main>
            <div id="modify">
                <form>
                    <Label>User</Label><input type="text" id="usname" name="usname"/><br/><br/>
                    <Label>Password</Label><input type="password" id="usname" name="usname" /><br/><br/>
                    <button class="btn" id="log In">Log In</button> <button class="btn">Sing In</button>
                </form>
            </div>
        </main> 
        <footer>
            <p>footertex</p>
        </footer>
    </body>
</html>