<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/view.css">
    </head>
    <body>
        <header>
            headertxt
        </header>
        <main>
            <article>
                <form>
                    <Label>User</Label><input type="text" id="usname" name="usname"/><br/><br/>
                    <Label>Password</Label><input type="password" id="usname" name="usname" /><br/><br/>
                    <button>Log In</button> <button>Sing In</button>
                </form>
            </article>
        </main> 
        <footer>
            <p>footertex</p>
        </footer>
    </body>
</html>