<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="../css/view.css">
        <title>Log In</title>
    </head>
    <body>
        <header id="header">
            <!-- Navbar se cargará dinámicamente -->
        </header>
        <main>
            <div id="modify">
                <form>
                    <Label>User</Label><input type="text" id="usname" name="usname"/><br/><br/>
                    <Label>Password</Label><input type="password" id="usname" name="usname" /><br/><br/>
                    <button class="btn" id="log In">Log In</button> <button class="btn">Sing In</button>
                </form>
            </div>
        </main>
        <footer id="footer">
            <!-- Footer se cargará dinámicamente -->
        </footer>

        <script src="../JavaScript/ComponentLoader.js"></script>
    </body>
</html>